

.search-wrapper {

    input {
        outline: none;
        padding: 10px 20px;
        border: 1px solid transparent;
        border-radius: 7px;
        background-color: rgba(0,0,0,0.052);
        margin: 10px;
        min-width: 360px;

        &:focus {
            border-color: #d4d4d4;
            background-color: #fff;
        }
    }
}