

.search-wrapper {

    input {
        outline: none;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        background-color: rgba(0,0,0,0.052);
        margin: 10px;
        min-width: 360px;
    }
}