/* You can add global styles to this file, and also import other style files */
body,
div,
span,
p,
input,
button,
table,
thead,
tfoot,
tbody,
tr,
th,
td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

body {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
}

button,
.btn {
  min-width: 120px;
  text-align: center;
  padding: 10px 20px 9px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  background-color: #e4e4e4;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #0f67db;
  }
}

input {
  outline: none;
  padding: 10px 20px 8px;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.052);
  min-width: 360px;

  &:focus {
    border-color: #b4b4b4;
    background-color: #fff;
  }
}
