/* You can add global styles to this file, and also import other style files */
body,
div, span, p,
input, button,
table, thead, tfoot, tbody, tr, th, td 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

body {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

button, .btn {
    background-color: #ccc;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px #888;
    text-transform: capitalize;
    cursor: pointer;
}