.table-container {
  .header {
    display: flex;

    .operations-button-container {
      padding: 0 20px;

      & img.icon {
        width: 15px;
      }
    }
  }

  .body {
    .row {
      display: flex;
      position: relative;

      &:hover {
        .row-tools-container {
          display: block;
        }
      }
      &:nth-child(2n) {
        background-color: #f4f4f4;
      }

      .cell {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:nth-child(1) {
          text-align: right;
        }

        .select-col {
          text-align: right;

          .select-check {
          }
        }
      }

      .row-tools-container {
        position: absolute;
        height: 100%;
        display: none;
        top: 0;
        right: 0;

        .row-tools {
          float: right;
          display: flex;
          transition: all 5s ease;

          .tool-item {
            margin: 0 10px;
            cursor: pointer;

            img.icon {
              height: 20px;
            }
          }
        }
      }

      .row-tools,
      .cell {
        padding: 10px;
      }
    }
  }

  .footer {
  }
}


.cover {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.51);
}
